<form (submit)="OnSubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput />
        <mat-error *ngIf="form.invalid">El campo nombre es requerido</mat-error>
    </mat-form-field>

    <h4>Seleccione el cine en el mapa</h4>

    <div>
        <app-mapa
        (coordenadaSeleccionada)="coordenadaSeleccionada($event)"
        [coordenadasIniciales]="coordenadaInicial"
        ></app-mapa>
    </div>    

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/cines">
            Cancelar
        </a>
    </div>

</form>