<div class="contenedor">
    <ul>
        @for (elemento of NoSeleccionados; track $index) {
            <li (click)="seleccionar(elemento, $index)">{{elemento.valor}}</li>
        }
    </ul>

    <div class="div-botones">
        <button type="button" (click)="seleccionarTodo()">>></button>
        <button type="button" (click)="deseleccionarTodo()"><<</button>
    </div>

    <ul>
        @for (elemento of Seleccionados; track $index) {
            <li (click)="deseleccionar(elemento, $index)">{{elemento.valor}}</li>
        }
    </ul>
</div>